extend ./base.jade

block title
    - const text = sharedData.data.text || '';
    - const screen_name = sharedData.data.user.screen_name;
    - const _title = text.length > 17 ? `${text.slice(0, 17)}…` : text;

    title ｜ @#{screen_name}: #{_title}

block content
    .root
    script(type='text/javascript').
        window.__share_data__ = !{JSON.stringify(sharedData)};
        window.__is_blocked__ = !{JSON.stringify(isBlocked)};
    script(src="/public/dist/common.js")
    script(src="/public/dist/share.js")